.row
  .col-xs-6.col-xs-offset-4
    %h1 Current Balance: $#{"%0.2f" % current_user.money}
.row
  .col-xs-6.col-xs-offset-3
    = form_tag(money_add_path, class: 'form-horizontal') do
      .form-group
        = label_tag :amount_label, 'Amount', class: ['control-label', 'col-xs-2']
        .col-xs-10
          = text_field_tag(:amount, params["amount"], class: 'form-control', placeholder: '100.00')
      .form-group
        = label_tag :credit_card_label, 'Credit Card', class: ['control-label', 'col-xs-2']
        .col-xs-10
          = text_field_tag(:credit_card, params["credit_card"], class: 'form-control', placeholder: '4444 4444 4444 4444')
      .form-group
        = label_tag :security_code_label, 'Security Code', class: ['control-label', 'col-xs-2']
        .col-xs-2
          = text_field_tag(:security_code, params["security_code"], class: 'form-control', placeholder: '123')
        = label_tag :expiry_month_label, 'Expiry Month', class: ['control-label', 'col-xs-2']
        .col-xs-2
          = text_field_tag(:expiry_month, params["expiry_month"], class: 'form-control', placeholder: '01')
        = label_tag :expiry_year_label, 'Expiry Year', class: ['control-label', 'col-xs-2']
        .col-xs-2
          = text_field_tag(:expiry_year, params["expiry_year"], class: 'form-control', placeholder: '2020')
      .form-group
        .col-xs-10.col-xs-offset-2
          = submit_tag('Add', class: ['btn', 'btn-primary', 'pull-right'])
