.jumbotron
  %h1 Welcome to Juaa
  %h2 The Basketball Prediction Platform
  - if user_signed_in?
    -if current_user.promotions_pending?
      %h3 You have a reward up to $#{current_user.promotions.first.amount}
      =link_to 'Claim your reward now!', promotion_claim_path, class: ['btn', 'btn-primary', 'btn-lg']

    -else
      =link_to 'Bet now and win big!', '', class: ['btn', 'btn-primary', 'btn-lg']
  - else
    =link_to 'Sign up to claim bonus!', new_user_registration_path, class: ['btn', 'btn-primary', 'btn-lg']
