- if current_user.promotions_pending?
  .row
    .col-xs-12
      %h3 Pending promotions
  .row
    .col-xs-4
      - current_user.promotions.each do |p|
        %table.table.table-striped
          %tr
            = form_tag(promotion_claim_path, class: 'form-horizontal') do
              %td
                Claim an amount of $#{p.amount}
              %td
                = hidden_field_tag(:promotion_id, p.id)
                = submit_tag('Claim!', class: ['btn', 'btn-primary', 'btn-sm', 'col-xs-12'])
- else
  .row
    .col-xs-12
      %h3 You have no pending promotions
