/* Superhero
 * Bootswatch
 *= require_self
 *= require superhero/loader
 *= require superhero/bootswatch
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

.navbar-brand {
    padding-top: 9.5px !important;
    padding-bottom: 9.5px !important;
}
