.navbar-collapse.collapse#navbar-main
  %ul.nav.navbar-nav
    %li= link_to 'Link 1', root_path
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li
        %a Money: $#{"%0.2f" % current_user.money}
      %li= link_to 'Add More!', money_add_path, class: 'btn-primary'

      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Hello #{current_user.name}
          %span.caret
        %ul.dropdown-menu
          %li= link_to 'Edit Account', edit_user_registration_path
          %li.divider{ role: 'separator' }
          %li= link_to('Sign Out', destroy_user_session_path, method: :delete)

    - else
      %li= link_to 'Sign In', new_user_session_path
