.navbar.navbar-default.navbat-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{ href: "#{root_path}" }
        = image_tag 'logo.png'
      %button{ class: 'navbar-toggle', type: 'button', data: {toggle: 'collapse', target: '#navbar-main' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    = render 'layouts/navigation_links'
