!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= content_for?(:title) ? yield(:title) : 'Juaa'
    %meta{ name: 'description', content: "#{content_for?(:description) ? yield(:description) : 'Juaa - The Basketball Prediction Platform'}" }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    .container
      = render 'layouts/messages'
      = yield
